<!-- Home Page -->
<section class="text-center">
  <h1>Welcome, Home Page. <i class="fa-solid fa-rainbow"></i></h1>
  <h3> Deployment Area </h3>
  <marquee direction="up" scrollamount="3" class="text-center mt-3">
    <ul style="list-style: none;">
      <li>Node Application Running...</li>
      <li>Database Connection Successful...</li>
      <li>Server is up and running...</li>
    </ul>
  </marquee>
  <a class="btn btn-primary mt-3" href="/users/list" role="button">Start</a>
</section>
<!-- Home Page -->